

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-brand {
	height: 75px;
	padding: 25px;
	font-size: 27px;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
}

.container {
    padding-top: 75px;
    margin-top: -75px;
}

.jumbotron {
    padding-top: 115px;
    margin-top: -75px;
}












